
{% macro sample_name_check_report(validation_results) -%}
    {% set results = validation_results.get('sample_check', {}) %}
    {% for analysis, results_for_analysis in results.get('results_per_analysis', {}).items() %}
        {% if results_for_analysis.get('difference') %}
            {% set icon = "&#10060;" %}
            {% set row_class = "report-section fail collapsible" %}
        {% else %}
            {% set icon = "&#10004;" %}
            {% set row_class = "report-section pass" %}
        {% endif %}
        <div class='{{ row_class }}'>{{ icon }} {{ analysis }}: Sample names concordance check </div>
        {% if results_for_analysis.get('difference') %}
            <div class="error-list">
                <div class="error-description">First 10 errors per category are below. <strong>Full report:</strong> {{ results.get('report_path', '') }}</div>
                <table>
                    <tr>
                        <th>Category</th><th>Error</th>
                    </tr>
                    <tr>
                        <td><strong>Samples described in the metadata but not in the VCF files</strong></td>
                        <td>{{ results_for_analysis.get('more_metadata_submitted_files')[:10]|join(", ") }}</td>
                    </tr>
                    <tr>
                        <td><strong>Samples in the VCF files but not described in the metadata</strong></td>
                        <td>{{ results_for_analysis.get('more_submitted_files_metadata')[:10]|join(", ") }}</td>
                    </tr>
                </table>
            </div>
        {% endif %}
    {% endfor %}
{%- endmacro %}