
{% macro metadata_validation_report(validation_results) -%}
    {% set json_errors = validation_results.get('metadata_check', {}).get('json_errors', []) %}
    {% if json_errors %}
        {% set icon = "&#10060;" %}
        {% set row_class = "fail collapsible" %}
    {% else %}
        {% set icon = "&#10004;" %}
        {% set row_class = "pass" %}
    {% endif %}
    <li class='{{ row_class }}'>{{ icon }} Metadata validation check </li>
    {% if json_errors %}
        <div class='error-list'>
            <ul>
        {% for error in json_errors %}
                <li><strong> {{ error.get('property') }} : {{ error.get('description') }} </strong></li>
        {% endfor %}
            </ul>
        </div>
    {% endif %}
{%- endmacro %}